/*alter style here while progressing */
/************TAG SELECTOR*************/
/*change background color for hr*/
hr {
  background-color: #222831;
  border-style: dotted none none;
  border-width: 5px;
  color: antiquewhite;
  height: 0px;
  width: 65%;
}

hr:hover {
border-style: dashed none none;
}

/*change the color of links to be visible on black background*/
a:visited {
  color: antiquewhite;
}

a:link {
  color: #87cefa;
}

/*change the cell spacing of table*/
td {
  padding: 10px;
}

table {
  border-spacing: 5px;
}

/************CLASS SELECTOR*************/
/* Social Media Icon Styles and Imports */
.fa {
  border-radius: 50%;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 30px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

/*main image that will never change */
.image-style {
  border-width: 3px;
  border-style: groove;
  border-color: white;
  border-radius: 50%;
  width: 300px;
}

/*Main style for the web page*/
.web-style {
  background-color: #222831;
  color: white;
  font-family: Indie Flower, cursive;
}
